<div
  *ngFor="let item of equipmentInventoryItems"
  class="inventory-item"
  (contextmenu)="openContextMenu($event, item)"
  (mouseover)="onItemHover(item)"
  (mouseleave)="onItemLeave()"
>
  <img [src]="item.id + '.png'" alt="{{ item.name }}" />

  <!-- Tooltip or Popup for item description and equipment attributes -->
  <div *ngIf="hoveredItem === item" class="item-tooltip">
    <p>{{ item.name }}</p>
    <p>{{ item.description }}</p>

    <div *ngIf="item.itemType === 'Equipment'">
      <h4>Attributes:</h4>
      <ul>
        <li *ngFor="let attribute of item.attributes">
          <strong>{{ attribute.name }}:</strong> {{ attribute.value }}
        </li>
      </ul>
    </div>
  </div>
</div>
<div
  *ngFor="let item of otherInventoryItems"
  class="inventory-item"
  (contextmenu)="openContextMenu($event, item)"
  (mouseover)="onItemHover(item)"
  (mouseleave)="onItemLeave()"
>
  <img [src]="item.id + '.png'" alt="{{ item.name }}" />

  <!-- Tooltip or Popup for item description and equipment attributes -->
  <div *ngIf="hoveredItem === item" class="item-tooltip">
    <p>{{ item.name }}</p>
    <p>{{ item.description }}</p>
  </div>
</div>

<div
  *ngIf="contextMenuVisible"
  class="context-menu"
  [style.left.px]="contextMenuX"
  [style.top.px]="contextMenuY"
>
  <div
    *ngFor="let action of (selectedItem?.interactions ?? '').split(', ')"
    (click)="performAction(action, selectedItem?.id ?? '')"
  >
    {{ action }}
  </div>
</div>
