<!-- inventory.component.html -->
<div class="inventory-panel">
  <div class="inventory-items-container">
    <div
      *ngFor="let item of allInventoryItems"
      class="inventory-item"
      (contextmenu)="openContextMenu($event, item)"
      (mouseover)="onItemHover(item, $event)"
      (mouseleave)="onItemLeave()"
    >
      <div class="item-image-container">
        <img
          [src]="item.imageUrl + '.png'"
          [alt]="item.name"
          class="item-image"
        />
      </div>
    </div>
  </div>

  <!-- Context Menu -->
  <div
    *ngIf="contextMenuVisible"
    class="context-menu"
    [style.left.px]="contextMenuX"
    [style.top.px]="contextMenuY"
  >
    <div
      *ngFor="let action of (selectedItem?.interactions ?? '').split(', ')"
      class="context-menu-item"
      (click)="performAction(action, selectedItem?.id ?? '')"
      (mouseenter)="highlightItem($event)"
      (mouseleave)="unhighlightItem($event)"
    >
      <span
        class="action-icon"
        [ngClass]="'action-' + action.toLowerCase()"
      ></span>
      <span>{{ action }}</span>
    </div>
  </div>
</div>
