* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-danger {
  color: rgb(235, 44, 44);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.custom-tooltip {
  position: absolute;
  z-index: 9999;
  background: url("/tooltip-scroll.png") center / cover no-repeat;
  color: #f6ecd4;
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 0 8px #000;
  white-space: nowrap;
  pointer-events: none;
  transform: translateY(-8px);
  font-family: "Merriweather", serif;
  text-shadow: 1px 1px 1px #000;
  animation: fadeInTooltip 0.2s ease-in-out;
}

@keyframes fadeInTooltip {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(-8px);
  }
}
