<div>
  <h2>{{ this.character.characterType }}</h2>
  <p><strong>Max Health:</strong> {{ character.maxHealth }}</p>
  <p><strong>Current Health:</strong> {{ character.currentHealth }}</p>
  <p><strong>Armor:</strong> {{ character.armor }}</p>
  <p><strong>Damage:</strong> {{ character.damage }}</p>
  <p>
    <strong>Critical Chance:</strong>
    {{ character.criticalChance * 100 | number : "1.0-2" }}%
  </p>
  <p>
    <strong>Critical Damage:</strong>
    {{ character.criticalDamage * 100 | number : "1.0-2" }}%
  </p>
  <p>
    <strong>Dodge Chance:</strong>
    {{ character.dodgeChance * 100 | number : "1.0-2" }}%
  </p>
  <p><strong>Debuff Resistance:</strong> {{ character.debuffResistance }}</p>

  <h3>Abilities</h3>
  <ul>
    <li *ngFor="let ability of character.abilities">{{ ability.name }}</li>
  </ul>
</div>
