// Colors
$color-text-light: #dcd6cc;
$color-accent: #a38461;
$color-danger: #c44;
$color-danger-hover: #f66;
$color-bg-dark: #1f1f1f;
$color-panel-bg: rgba(0, 0, 0, 0.5);
$color-slot-empty: rgba(0, 0, 0, 0.2);

// Borders & Shadows
$border-radius-base: 1rem;
$border-color: #5b3b1c;
$box-shadow-soft: 0 0 12px $color-bg-dark;

// Fonts
$font-primary: "Merriweather", serif;
