<div class="battle-container" *ngIf="battleData">
  <div class="scene">
    <div class="monster-health-bar-container">
      <div class="health-wrapper">
        <div
          class="health-fill"
          [style.width.%]="monsterHealthPercentage"
        ></div>
      </div>
      <img
        src="/test/monster-health-bar.png"
        alt="Monster health bar"
        class="monster-health-bar"
      />
    </div>
    <img src="/test/goblin.png" alt="Goblin" class="monster" />

    <!-- <audio autoplay loop>
    <source src="assets/forest-ambience.mp3" type="audio/mpeg" />
  </audio> -->
  </div>
  <div class="monster-stats">
    <h2>{{ battleData.monster.name }}</h2>
    <ul class="monster-stats-list">
      <li>
        <strong>Health:</strong>
        <span id="monster-health"
          >{{ battleData.monster.stats.currentHealth }} /
          {{ battleData.monster.stats.maxHealth }}</span
        >
      </li>
      <li><strong>Armor:</strong> {{ battleData.monster.stats.armor }}</li>
      <li><strong>Damage:</strong> {{ battleData.monster.stats.damage }}</li>
      <li>
        <strong>Critical Chance:</strong>
        {{ battleData.monster.stats.criticalChance * 100 }}%
      </li>
      <li>
        <strong>Critical Damage:</strong>
        {{ battleData.monster.stats.criticalDamage * 100 }}%
      </li>
      <li>
        <strong>Dodge Chance:</strong>
        {{ battleData.monster.stats.criticalChance * 100 }}%
      </li>
    </ul>
  </div>

  <div class="player-stats">
    <h2>{{ battleData.combatPlayer.characterType }}</h2>
    <div class="player-health-bar">
      <div class="liquid-wrapper">
        <span
          >{{ battleData.combatPlayer.stats.currentHealth }}/{{
            battleData.combatPlayer.stats.maxHealth
          }}</span
        >
        <div
          class="liquid danger"
          [style.height.%]="playerHealthPercentage"
        ></div>
      </div>
      <img src="/test/player-health-bar.png" class="orb-frame" />
    </div>
    <ul class="player-stats-list">
      <li><strong>Armor:</strong> {{ battleData.combatPlayer.stats.armor }}</li>
      <li>
        <strong>Damage:</strong> {{ battleData.combatPlayer.stats.damage }}
      </li>
      <li>
        <strong>Critical Chance:</strong>
        {{ battleData.combatPlayer.stats.criticalChance * 100 }}%
      </li>
      <li>
        <strong>Critical Damage:</strong>
        {{ battleData.combatPlayer.stats.criticalDamage * 100 }}%
      </li>
      <li>
        <strong>Dodge Chance:</strong>
        {{ battleData.combatPlayer.stats.dodgeChance * 100 }}%
      </li>
    </ul>
  </div>

  <div class="battle-logs">
    <div class="battle-logs-wrapper" #logContainer>
      <div
        class="log-entry"
        *ngFor="let log of logs"
        [class]="getLogClass(log)"
      >
        {{ log }}
      </div>
    </div>
  </div>

  <div class="ability-canvas">
    <img
      class="ability-icon"
      *ngFor="let ability of battleData.combatPlayer.abilities"
      [class.disabled]="ability.currentCooldown > 0"
      (click)="useAbility(ability)"
      src="/test/{{ ability.imageUrl }}"
      [attr.data-cooldown]="
        ability.currentCooldown > 0 ? ability.currentCooldown : null
      "
      alt="{{ ability.name }}"
    />
  </div>

  <app-reward-modal
    *ngIf="reward"
    [gold]="reward.gold || 100"
    [gems]="reward.experience || 200"
    [items]="reward.equipmentDrop || []"
  >
  </app-reward-modal>

  <app-defeat-modal *ngIf="defeat"></app-defeat-modal>
</div>
