@mixin gold-gradient-text {
  background: linear-gradient(
    #fff4d6 0%,
    #fce29f 30%,
    #f9c86b 60%,
    #f5b942 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gold-text {
  @include gold-gradient-text;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Cinzel", serif;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.background-image {
  background-image: url("/reward.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  margin: auto;
}

.modal-container {
  padding: 8rem 0rem;
  text-align: center;
  font-family: "Cinzel", serif;
  width: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  @include gold-gradient-text;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.reward-values {
  display: flex;
  justify-content: center;
  max-width: 70%;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  background: linear-gradient(to bottom, #2a2017, #251e15);
  border: 3px solid #503e2c;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 0.75rem;

  .reward-value {
    display: flex;
    align-items: center;

    img {
      width: 64px;
      height: 64px;
    }

    span {
      display: block;
      @include gold-gradient-text;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    }
  }
}

.reward-items {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .item {
    width: 90px;
    height: 90px;
    background: url("/item-background.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }
}

.fancy-btn {
  background: linear-gradient(to bottom, #2a2017, #251e15);
  border: 3px solid #503e2c;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 0.75rem;
  padding: 0.8rem 1.2rem;
  position: relative;
  text-align: center;
  cursor: pointer;
}
